<div class="d-flex justify-content-center">
    <div class="card border m-3 shadow">
        <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Reset password</h4>
            <hr>
            <form method="post" action="forget">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email" type="email" required>
                    </div>
                </div>
                          
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a class="small" href="sign-in">Sign-in?</a>
                    </div>   
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Send Reset Email </button>
                        </div>
                    </div>                                         
                </div>                                                                 
            </form>
        </article>
    </div>
</div>