{{#if msg}}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
{{else}}
    <div class="alert alert-danger" role="alert">
        You have do not have access to any Unleash instance. Please reach out your instance admin to gain access. 
    </div>
{{/if}}


<p>Don't have an account? <a href="https://www.getunleash.io/plans">Sign up</a></p>