<p>
<h2>Create setting</h2>
<a href="/admin/settings">List settings</a>
</p>
<hr>
<div class="row">
  <div class="col-md-6">
    <form method="post" action="/admin/settings">
      <div class="form-group">
        <label for="name">name</label>
        <input class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="config">Config</label>
        <textarea class="form-control" id="config" name="config" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
