<form method="post" action="/admin/settings/{{name}}/delete" class="text-center">
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete <strong>{{name}}</strong>?
    </div>
    <button type="submit" class="btn btn-primary btn-lg">yes, delete!</button>
    <br /><br />
    <p>
        <a href="/admin/settings">No go back..</a>
    </p>

</form>
